*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.display{
  display: flex;
}

.scroll{
background-color: black;
}

.scroll h1{
  text-align: center;
  color: aliceblue;
  justify-content: center;
}